<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Kitaplar</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
            <li class="breadcrumb-item active">Kitaplar</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Kitap Listesi</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-primary mb-4" routerLink="/books/add">Kitap Ekle</button>
        <div class="form-group">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Resim</th>
                <th>Kitap Adı</th>
                <th>Yazar Adı</th>
                <th>Yayınlanma Tarihi</th>
                <th>Aktif Durumu</th>
                <th>Kira Durumu</th>
                <th>İşlemler</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books let index=index">
                <td>{{index+1}}</td>
                <td><img src="https://bookshopping.angulareducation.com/assets/img/{{book.imageUrl}}"></td>
                <td>{{book.name}}</td>
                <td>{{book.writer}}</td>
                <td>{{book.publishDate |date:'dd.MM.yyyy'}} </td>
                <td>{{book.isActive ? 'Aktif':'Pasif'}}</td>
                <td>{{book.isAvailable ?'Aktif':'Pasif'}}</td>
                <td>
                  <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="edit()">
                      <mat-icon color="primary">edit</mat-icon>
                      Güncelle
                    </button>
                    <button mat-menu-item  [swal]="deleteSwal"  (confirm)="delete(book)">
                      <mat-icon color="warn">delete</mat-icon>
                      Sil
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </section>

</div>
<swal
#deleteSwal
title="Sil?"
text="Kitabı silmek ister misiniz?"
type="question"
[showCancelButton]="true"
>

</swal>


